.Card {
  padding: 16px;
  background-color: #F1F7FA;
  border: none;
  border-radius: 12px;

  .Link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111;
    margin-bottom: 12px;

    .Box{
      position: relative;
      margin-right: 16px;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      .Avatar {
        width: 50px;
        height: 50px;
      }

      .insideBox{
        position: absolute;
        background-color: #4FB14F;
        border: 2px solid #F1F7FA;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        right: 0;
        bottom: 0;
      }

      .name{
        font-size: 16px;
      }
    }

  }
}
